.nav{
    background-color:#D7D1C0 ;
}

.textos{
    color:#D7D1C0 ;
}

#boton{
    background-color: #68ADCC;
    color: #010570;
    
}

#tituloNegro{
    color: black;
}

.divh1Negro{
    height: 150px;
}